.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(219, 14%, 63%);
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

main {
    box-sizing: border-box;
    border-radius: 20px;
    max-width: 700px;
    margin: 20px;
    padding: 20px;
    background-color: hsl(210, 60%, 98%);
}

img {
    margin: 20px 20px;
}

.heading {
    font-size: 1.2rem;
    font-weight: bold;
}

.head {
    display: flex;
    justify-content: space-between;
}

.notification-box {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: hsl(211, 68%, 94%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 350px;

}

#message {
    border: 1px solid hsl(219, 14%, 80%);
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin-left: 80px;
    margin-top: 10px;
    color: hsl(219, 14%, 63%);

}

#message:hover {
    background-color: hsl(205, 33%, 90%);
    border-color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.red-dot {
    border: 1px solid hsl(1, 90%, 64%);
    border-radius: 4px;
    background-color: hsl(1, 90%, 64%);
    width: 4px;
    height: 4px;
}

p {
    word-spacing: 0.2rem;
    font-size: 0.9rem;
}

b {
    font-size: 15px;
    border: 1px solid  hsl(219, 85%, 26%);
    border-radius: 5px;
    padding: 1px 4px;
    background-color: hsl(219, 85%, 26%);
    color:  hsl(0, 0%, 100%);
}

span {
    font-size: 0.9rem;
    color: hsl(219, 14%, 63%);
}

strong:hover {
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}